<h2>Инструкции для подтверждения регистрации</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %>
  <%= f.email_field :name %></div>

  <div><%= f.submit "Выслать инструкции для подтверждения" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>